.visual_video {
    display: flex;
    height: 80%;
    margin-bottom: 0px;
}

.visual {
    width: 50%;
    margin-bottom: 0px;
}

.video_graph {
    width: 50%;
    height: 600px;
}

.video {
    height: 300px;
    margin-bottom: 10px;
}

.info {
    display: flex;
}

.play-slider {
    width: 100%;
    height: 20%;
    margin-top: 10px;
}





.time-slider {
    width: 100%;
}

.button {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    height: 40px;
}

.play-button {
    height: 100%;
    width: 40px;
    margin-right: 20px;
}

.control-button {
    height: 100%;
    width: 40px;
    margin-left: 20px;
}